.create
	.create_name
		.create_name_txt
			form(id='form' method='post')
				input(type='text' placeholder='Ваше имя' size='60' name='user' id='1' required).span4
				input(type='text' placeholder='Ваше имя' size='60' name='pswd' id='2' required).span4
				input(type='submit' value='отправить').span4.mr0
	