.bar
	.bar_text.span11
		.bar_text-button1.span3
			input(type='submit' value='Вчителі')
		.bar_text-button2.span3
			input(type='submit' value='Аудиторії')
		.bar_text-button3.span3.mr0
			input(type='submit' value='Групи')
	.bar_auth.span1.mr0
		img(src='security.png')