.byTeachOnclick
	.byTeachOnclick_tabs.span8
		input(type='text' size='45' placeholder='факультет')
		input(type='text' size='45' placeholder='должность')
		input(type='text' size='45' placeholder='фио')
		.byTeachOnclick_submit
			input(type='submit' placeholder='отправить')
	.byTeachOnclick_quest.span3.mr0
		.byTeachOnclick_quest_img
			input(type='submit' value='?')
