.footer
	.footer_logo.span3
		.footer_logo_txt логотип
	.footer_info.span3
		.footer_info_txt комісія
	.footer_rectorat.span3
		.footer_rectorat_txt ректорат
	.footer_links.span3.mr0
		.footer_links_txt ccылки