.links
	.links_bar
		.links_bar_link1.span2
			a(href='http://nubip.edu.ua/about') УНІВЕРСИТЕТ
		.links_bar_link2.span2
			a(href='http://nubip.edu.ua/entrant') ВСТУПНИКУ
		.links_bar_link3.span2
			a(href='http://nubip.edu.ua/students') СТУДЕНТУ
		.links_bar_link4.span3
			a(href='http://nubip.edu.ua/sructure/kyiv') ІНСТИТУТИ, ФАКУЛЬТЕТИ
		.links_bar_link5.span3.mr0
			a(href='http://nubip.edu.ua/sructure/regional') ВІДОКРЕМЛЕНІ ПІДРОЗДІЛИ