@require '../fullcalendar.min'
@require '../adaptive_net'
@require 'main/header'
@require 'main/links'
@require 'main/bar'
@require 'main/auth'
@require 'main/info'
@require 'main/bread'
@require 'main/byTeach'
@require 'main/byTeachOnclick'
@require 'main/byRoom'
@require 'main/byGroup'
@require 'main/face'
@require 'main/organiser'
@require 'main/footer'
@require 'crud/header1'
@require 'crud/update'