<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title %)
	link(rel="stylesheet", href="main/1.css")
body
	.container
		.row
			include files/header
			include files/links
		.row
			include files/bread
			include files/face
			include files/organiser
		.row
			include files/bar
		.row
			include files/auth
			include files/info
			include files/byTeach
			include files/byTeachOnclick
			include files/byRoom
			include files/byGroup
	script(src='main/moment.js')
	script(src="main/jquery.js")
	script(src='main/fullcalendar.min.js')
	script(src='main/animation.js')
