<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title %)
	link(rel="stylesheet", href="crud/1.css")
body
	.container
		.row
			include files/header
			include files/update
	script(src='main/moment.js')
	script(src="main/jquery.js")
	script(src='main/fullcalendar.min.js')
	script(src='crud/123.js')