.auth
	height: 40px
	display: none
.auth_login form input:nth-child(1)
	margin-left: 100px
.auth_login form input:nth-child(1), .auth_login form input:nth-child(2)
	height: 30px
	width: 220px
	margin-right:20px
	border: 6px solid #142c4c
	-webkit-border-radius: 6px
	-moz-border-radius: 6px
	border-radius: 6px
.auth_login form input:nth-child(3)
	height: 30px
	width: 100px
	background-color: #142c4c
	color: #fff
	-webkit-border-radius: 6px
	-moz-border-radius: 6px
	border-radius: 6px
.auth_login form input:nth-child(1):focus, .auth_login form input:nth-child(2):focus
	box-shadow: 0 0 5px 10px rgba(46,138,138,.5)