.byRoom
	height: 100px
	display:none
.byRoom_text
	margin-left:40px
.byRoom_button input
	height: 30px
	width: 120px
	background-color: #142c4c
	color: #fff
	-webkit-border-radius: 6px
	-moz-border-radius: 6px
	border-radius: 6px
.byRoom_text_input
	float:right
	width:350px
.byRoom_text_input input
	border: 6px solid #142c4c
	-webkit-border-radius: 6px
	-moz-border-radius: 6px
	border-radius: 6px
.byRoom_text_input input:focus
	box-shadow: 0 0 5px 10px rgba(46,138,138,.5)