.face 
	margin-top:20px
	height: 200px
	display: none
.face_image
	height: 200px
.face_image_jpg
	margin-top: 50px
	margin-left: 30px
	height: 100px
	background-color: green
	width: 100px
.face_text_fio
	margin-top: 70px