.links_bar
	height: 30px
.links_bar_link1 a, .links_bar_link2 a, .links_bar_link3 a, .links_bar_link4 a, .links_bar_link5 a
	font-weight: bold
	text-decoration: none
	font-size: 15px	
	color: #142c4c
.links_bar_link1 a
	margin-left: 15px
.links_bar_link1, .links_bar_link2, .links_bar_link3, .links_bar_link4, .links_bar_link5
	margin-top: 5px